<div class="header text-center">
    <h1>News Scraper</h1>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <ol>
                {{#each dbArticle}}
                    
                        <li>
                            <div>{{title}}</div>           
                            <button type="button" class="btn btn-outline-success" data-id="{{id}}">
                                Save It!
                            </button>
                        
                            <a href="{{link}}">{{link}}</a>
                        </li>
                    
                {{/each}}
            </ol>
            
        </div>

        <div class="col">
            <ol class="list-group">

            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div>
                <h2>Add a Note</h2>
                <form class="create-form">
                    <div class="form-group">
                        <label for="add-note">Note:</label>
                        <input type="text" id="add-note" name="user-note">
                    </div>

                    <button class="btn btn-primary" type="submit">Add Note</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>